<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB17fbEfLxK_TDIu5lKQ9GU_97e4vIxc7M</string>
	<key>GCM_SENDER_ID</key>
	<string>630654135368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safeguard.app</string>
	<key>PROJECT_ID</key>
	<string>blooddonationapp-83ff8</string>
	<key>STORAGE_BUCKET</key>
	<string>blooddonationapp-83ff8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630654135368:ios:f792e88fb940e4405fbc7d</string>
</dict>
</plist>